<div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
    <div class="uk-width-1-2@m">
        <div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-card uk-card-secondary uk-card-hover uk-border-rounded uk-width-1-2@m">
                <div class="uk-card-media-top">
                    <img src="https://image.tmdb.org/t/p/w500/neZ0ykEsPqxamsX6o5QNUFILQrz.jpg"
                        width="500" height="750" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Akira</h3>
                    <p>Filme muito massa</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div
            class="uk-card uk-card-default uk-card-body uk-border-rounded uk-height-viewport uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-flex uk-flex-column uk-flex-middle">
                <h1 class="uk-heading-medium">FilmSpin</h1>
                <p class="uk-margin-medium-bottom uk-text-small">Sem ideia de filme? Filtre e descubra com um clique!</p>
                <form>
                    <div class="uk-margin">
                        <div uk-form-custom="target: > * > span:first-child">
                            <select aria-label="Custom controls">
                                <option>Todos os gêneros</option>
                                <option>Ação</option>
                                <option>Aventura</option>
                                <option>Animação</option>
                                <option>Comédia</option>
                                <option>Crime</option>
                                <option>Documentário</option>
                                <option>Drama</option>
                                <option>Família</option>
                                <option>Fantasia</option>
                                <option>História</option>
                                <option>Terror</option>
                                <option>Música</option>
                                <option>Mistério</option>
                                <option>Romance</option>
                                <option>Ficcção científica</option>
                                <option>Cinema TV</option>
                                <option>Thriller</option>
                                <option>Guerra</option>
                                <option>Faroeste</option>
                            </select>
                            <button class="uk-button uk-button-default uk-border-rounded" type="button" tabindex="-1">
                                <span></span>
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div uk-form-custom="target: > * > span:first-child">
                            <select aria-label="Custom controls">
                                <option>Todas as décadas</option>
                                <option>1960s</option>
                                <option>1970s</option>
                                <option>1980s</option>
                                <option>1990s</option>
                                <option>2000s</option>
                                <option>2010s</option>
                                <option>2020s</option>
                            </select>
                            <button class="uk-button uk-button-default uk-border-rounded" type="button" tabindex="-1">
                                <span></span>
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div uk-form-custom="target: > * > span:first-child">
                            <select aria-label="Custom controls">
                                <option>Todas as avaliações</option>
                                <option>Nota 1+</option>
                                <option>Nota 2+</option>
                                <option>Nota 3+</option>
                                <option>Nota 4+</option>
                                <option>Nota 5+</option>
                                <option>Nota 6+</option>
                                <option>Nota 7+</option>
                                <option>Nota 8+</option>
                                <option>Nota 9+</option>
                                <option>Nota 10</option>
                            </select>
                            <button class="uk-button uk-button-default uk-border-rounded" type="button" tabindex="-1">
                                <span></span>
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <button class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Spin</button>
            </div>
        </div>
    </div>
</div>